In [1]:
a = 7
b = 3.5
c = "This is a string"
type(a), type(b), type(c)

(int, float, str)

In [3]:
x = (1, 2, 3)
type(x)

tuple

In [4]:
y = [1, 2, 3]
type(y)

list

In [8]:
z = {1 : "car", 2 : "bike"}
type(z)

dict

In [9]:
# task 3

In [11]:
import pandas as pd

file =  pd.read_csv("Sample100.csv")
file.head()

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9788189999599,TALES OF SHIVA,Mark,mark,0
1,9780099578079,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9780198082897,MY KUMAN,Mark,Mark,0
3,9780007880331,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9780545060455,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0

In [12]:
# task 4

In [16]:
from PIL import Image

img = Image.open('Windows.jpg')

print(img.format)
print(img.size)
print(img.mode)

img.show()

JPEG
(267, 180)
RGB