# LAB Assignment 4

#### Name - Khemraj Gupta

#### Reg. No. - 20MAI0079

# Classifications Models

In [1]:
#1 import the requires libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#2 Read the dataset onto a variable

titanic_data = pd.read_csv("data/titanic_data.csv") #titanic_data.csv
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic_data.shape

(891, 12)

In [4]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
#3 Fix the Predictor Variables
df = titanic_data[["Survived", "Pclass", "Sex", "Age", "Fare"]]

In [7]:
#4 Change male to 1 and female to 0 - Encoding 
df["Sex"] = df["Sex"].apply(lambda sex:1 if sex=="male" else 0)

C:\Users\ASUS\anaconda3\envs\PythonGPU\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
#5 Handling Missing Values - Data Imputation
df["Age"] = df["Age"].fillna(df["Age"].median()) #Outliers

C:\Users\ASUS\anaconda3\envs\PythonGPU\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
#6 Take a Look at the DataFrame
df.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [10]:
#7 Set the Predictor(X) and Response(y) Variables
X = df.drop("Survived", axis=1)
y = df["Survived"]

In [11]:
#8 Splitting into Training and Test Set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Logistic Regression Model

In [12]:
#9 Call the Logistic Regression Model
from sklearn.linear_model import LogisticRegression
logit = LogisticRegression()
logit.fit(X_train, y_train)

LogisticRegression()

In [13]:
#10 Compute the Predictions or Y hat
y_pred  = logit.predict(X_test)

In [14]:
#11 Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix

array([[134,  23],
       [ 32,  79]], dtype=int64)

In [15]:
#12 Accuracy Score
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7947761194029851

In [16]:
#13 Classification Report
from sklearn.metrics import classification_report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.81      0.85      0.83       157
           1       0.77      0.71      0.74       111

    accuracy                           0.79       268
   macro avg       0.79      0.78      0.79       268
weighted avg       0.79      0.79      0.79       268

## Naive Bayes Classifier

### Gaussain Naive Bayes Classifier

In [17]:
#14 Call the Gaussian Naive Bayes Classifier Model
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [18]:
#15 Compute the Predictors or Y hat
y_preds = model.predict(X_test)

In [19]:
#16 Confusion Matrix
confusion_matrix = confusion_matrix(y_test, y_preds)
confusion_matrix

TypeError: 'numpy.ndarray' object is not callable

In [20]:
#16 Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_preds)
confusion_matrix

array([[126,  31],
       [ 29,  82]], dtype=int64)

In [21]:
#17 Accuracy Score
accuracy_score(y_test, y_preds)

0.7761194029850746

In [22]:
#18 Classification Report
report = classification_report(y_test, y_preds)
print(report)

              precision    recall  f1-score   support

           0       0.81      0.80      0.81       157
           1       0.73      0.74      0.73       111

    accuracy                           0.78       268
   macro avg       0.77      0.77      0.77       268
weighted avg       0.78      0.78      0.78       268

## Conclusion 

Comparing the two classificational model that is logistic regression and Gaussian Naive bayes classifier.
We observe that logistic regression perform better than Naive bayes.